/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
*= require rails_bootstrap_forms
*= require_tree .
*= require_self
*/


@import "bootstrap";

$gray-light: #8C8C8C;
$gray-lighter: #8C8C8C;
$watermelonBackground: #E87272;
/* Site-Wide Styling*/
body {
 background-color: $watermelonBackground;
 color: white;
}
legend{
  color: white;
}

.form {
  color: #FFDA7D
}

.navbar {
  background-image: linear-gradient(#C5E8C6, #72E8C6);
  border: none;
}

.navbar-right {
  margin-top: 15px;
}

.h2_session_new {
  text-align: center;
  color: white;
}

.btn-primary {
    background: #72E8C6;
    border:1px solid white
}

.btn-success {
  background: #72E8C6;
  border:1px solid white;
}

.form-group {
  color: white;
}
.field {
  color: #72E8C6;
}

.alert-success {
  background-color: #72E8C6;
  color: white;
}

.alert-danger {
  background-color:#988AFF;
  color: white;
}

.jumbotron {
  background: #988AFF;
  color: white;
  text-align: center;
  font-family: Avocado-Regular;
  border: 5px solid white;
  border-radius: 500px;
}

.user_title {
  color: white;
  text-align: center;
}

// /* microposts */
//
.microposts {
  list-style: none;
  padding: 0;
  color: #72E8C6;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #72E8C6;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
// stats
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: #72E8C6;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
